<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Movies</title>
</head>
<body ng-app="app">
<div class="container" ng-controller="MoviesController">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Film View</span></div>
        <div class="viewcontainer">
            <p><b>Title:</b> {{title}}</p>
            <p><b>Description:</b> {{description}}</p>
            <p><b>Age Rating:</b> {{agerating}}</p>
            <p><b>Running Time:</b> {{runningTime}}</p>
            <p><b>Release Date:</b> {{releaseDate}}</p>
            <p><b>Genre:</b> {{genre}}</p>
            <p><b>Director:</b> {{director}}</p>
            <p><b>Actors:</b></p>
            <ul>
                <li ng-repeat="movieActor in movieActors">{{movieActor.firstName + " " + movieActor.lastName}} </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">List of Actors:</span>
            <div class="select-group pull-right">
            <select ng-model="selectedActor" class="form-control" name="selectedActor">
                <option ng-repeat="actor in allActors">{{actor.actorId}} {{actor.firstName}} {{actor.lastName}}</option>
            </select>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Movies List</span>
            <div class="btn-group pull-right">
                <a th:href="@{/addmovie}" class="btn btn-success">Add new movie</a>
                <a th:href="@{/addactor}" class="btn btn-success">Add new actor</a>
            </div>
        </div>
        <div class="listcontainer">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Age Rating</th>
                </tr>
                <tr ng-repeat="movie in movies">
                    <td>{{movie.id}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.shortDescription}}</td>
                    <td>{{movie.ageRating}}</td>
                    <td>
                        <a ng-click="addActorToMovie(movie)" class="btn btn-success pull-left">Add actor</a>
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <a ng-click="viewMovie(movie)" class="btn btn-small btn-primary">View</a>
                            <a ng-click="deleteMovie(movie)" class="btn btn-small btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="js/angular.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>